body{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    min-height: 100vh;
    padding: 2em;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact > div{
    background: transparent;
    backdrop-filter: blur(25px);
    padding: 2.5em;
    border-radius: 10px;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
}

.contact h1{
    font-size: 2.5em;
    font-weight: bold;
}

.contact p{
    max-width: 400px;
    line-height: 27px;
    color: #312f2f;
    margin: 1em 0 2em 0;
}

.contact form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact input, .contact textarea{
    border: none;
    padding: 0.8em;
    width: 100%;
    border-radius: 5px;
    margin: 0.5em 0 1em 0;
    font-size: 1.1em;
    background: #eee;
    color: #969696;
}

.contact label{
    color: #312f2f;
}

.contact textarea{
    resize: none;
    height: 8em;
    font-family: 'Poppins', sans-serif;
}

.contact input:focus, .contact textarea:focus{
    outline: none;
}

.contact input::placeholder, .contact textarea::placeholder{
    color: #bababa;
}

.contact button{
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.8em;
    background-color: #ff742e;
    color: #fff;
    border-radius: 8px;
    font-size: 1.2em;
    transition: 0.3s;
}

.contact button:hover{
    background-color: #e16628;
}

/* For responsive design */
@media screen and (max-width: 500px) {
    .contact{
        font-size: 14px;
    }
}

/* Custom Scrollbar*/

/* width */
::-webkit-scrollbar{
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track{
    background: #e6a861;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb{
    background: #e76e05;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover{
    background: #d6431a;
}